# Java & Maven
target/
*.class
*.jar
*.war
*.ear
*.log
.mvn/
mvnw
mvnw.cmd

# Node & Frontend
node_modules/
dist/
dist-ssr/
*.local

# IDEs
.idea/
*.iml
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store

# Docker
postgres_data/

# Environment Variables
.env
.env.local
